<body class="faq">

    <!-- Navbar -->

    
    <!-- Paga title -->
    <div class="main-header">
      
    </div>

    <!-- Main content -->
    <div class="wrap container" role="document">
      <div class="content row">
        <div class="main col-sm-9" role="main">

        <div class="page-header">
          <h1>Preguntas Frecuentes</h1>
        </div>

        <div class="page-main">
            <a id="top_faq"></a>

            <ul class="faq-category-list">
                <li>
                  <h2 class="faq-section-heading">
                      <a href="#2existing-customer-questions1">General</a>
                  </h2>
                  <ul class="question-list">
                    <li><h4 id="faq-844" class="entry-title"><a href="#question-844">¿Qué es Tarefa Simple?</a></h4></li>
                    <li><h4 id="faq-842" class="entry-title"><a href="#question-842">¿Por qué es diferente Tarefa Simple de otras ofertas?</a></h4></li>
                    <li><h4 id="faq-841" class="entry-title"><a href="#question-841">¿Cuál es la diferencia entre tener una cuenta de tarefa free y tarefa pro?</a></h4></li>
                    <li><h4 id="faq-840" class="entry-title"><a href="#question-840">Algo en el sitio no está trabajando, ¿a quién debo contactar?</a></h4></li>
                  </ul>
                </li>
                <li>
                <h2 class="faq-section-heading">
                    <a href="#1pre-sale-questions2">Pagos</a>
                </h2>
                <ul class="question-list">
                  <li><h4 id="faq-839" class="entry-title"><a href="#question-839">¿Cuando se me cobrará?</a></h4></li>
                  <li><h4 id="faq-838" class="entry-title"><a href="#question-838">¿Cuál es su política de cancelación y reembolso?</a></h4></li>
                  <li><h4 id="faq-837" class="entry-title"><a href="#question-837">¿Cómo puedo cancelar mi suscripción?</a></h4></li>
                  <li><h4 id="faq-836" class="entry-title"><a href="#question-836">¿Cuánto tiempo se tarda en obtener un reembolso?</a></h4></li>
                </ul>
              </li>
            </ul>

            <div class="question-detail-list">

              <h2 id="2existing-customer-questions1" class="faq-section-heading">General</h2>

              <article class="faq clearfix">
                <h3 id="question-844" class="entry-title"><a name="844"></a>¿Qué es Tarefa Simple?</h3>
                <div class="faq-content">
                  <p>Tarefa Simple ofrece respuestas confiables a ejercicios de matemáticas hechos por profesionales validados por Tarefa,  </p>
                  <a class="faq-back-top" href="#top_faq">Regresar al Comienzo </a>
                </div>
              </article>

              <article class="faq clearfix">
                <h3 id="question-842" class="entry-title"><a name="842"></a>¿Por qué es diferente Tarefa Simple de otras ofertas?</h3>
                <div class="faq-content">
                  <p>Tarefa Simple quiere ofrecer una nueva forma de aprender, las clases son muy cortas para que los estudiantes entiendan todos lo conceptos, y por eso creen que las matemáticas son una asignatura dificil, aburrida e inutil, ahora con tarefa tendrás un profesor 7/24 que podrá resolver tus preguntas en el menor tiempo posible. </p>
                  <a class="faq-back-top" href="#top_faq">Regresar al Comienzo</a>
                </div>
              </article>
              
              <article class="faq clearfix">
                <h3 id="question-841" class="entry-title"><a name="841"></a>¿Cuál es la diferencia entre tener una cuenta de tarefa free y tarefa pro?</h3>
                <div class="faq-content">
                  <p>Tarefa Simple es una herramienta educativa de ayuda para los estudiantes, tener un acceso free permite al estudiante realizar dos preguntas diarías y una cuenta pro le permite tener acceso 7/24 y preguntas ilimitadas </p>
                  <a class="faq-back-top" href="#top_faq">Regresar al Comienzo</a>
                </div>
              </article>

              <article class="faq clearfix">
                <h3 id="question-840" class="entry-title"><a name="840"></a>Algo en el sitio no está trabajando, ¿a quién debo contactar?</h3>
                <div class="faq-content">
                  <p>Pueden escribirnos en info@tarefasimple.com.</p>
                  <a class="faq-back-top" href="#top_faq">Regresar al Comienzo</a>
                </div>
              </article>

              <h2 id="1pre-sale-questions2" class="faq-section-heading">Pagos</h2>

              <article class="faq clearfix">
                <h3 id="question-839" class="entry-title"><a name="839"></a>¿Cuando se me cobrará?</h3>
                <div class="faq-content">
                  <p>Tarefa Simple facturará el día del inicio del mes y se le facturará mensualmente a partir de entonces. Por ejemplo, si el uso de nuestra plataforma se inicia el 15 de enero, se le cobrará el 15 de enero para el primer mes, 15 de febrero por segundo mes, y así sucesivamente. Su fecha de facturación puede variar ligeramente si se inicia su inscripción en una fecha para la cual no hay una fecha correspondiente al próximo mes (es decir, la inscripción comenzó el 31 de enero se facturará el 28 de febrero). <br></br>

				La fecha de inicio de nuestra herramienta se puede encontrar en la página Visión general del curso y le enviaremos un recordatorio por correo electrónico antes del inicio del curso. Del mismo modo, si usted se inscribe en un curso que ya ha comenzado, se le facturará el día en que se inscribe y se le facturará mensualmente a partir de entonces. <br></br>

				Si usted está en un periodo de prueba gratuito, se le facturará 14 días después del inicio de su curso. Por ejemplo, si se inicia una prueba gratuita el 1 de enero, se le facturará el 15 de enero, luego 15 de febrero, y en el día 15 del mes, mientras que tener una matrícula activa</p>
                  <a class="faq-back-top" href="#top_faq">Regresar al Comienzo</a>
                </div>
              </article>

              <article class="faq clearfix">
                <h3 id="question-838" class="entry-title"><a name="838"></a>¿Cuál es su política de cancelación y reembolso?</h3>
                <div class="faq-content">
                  <p>Usted puede cancelar su inscripción en cualquier momento. Si usted no está completamente satisfecho con la experiencia, puede recibir un reembolso completo si cancela su inscripción dentro de los primeros 14 días, excepto si se encuentra en una prueba gratuita. Por favor, consulte nuestros términos y condiciones para todos los detalles de nuestra política de devoluciones.</p>
                  <a class="faq-back-top" href="#top_faq">Regresar al Comienzo</a>
                </div>
              </article>

              <article class="faq clearfix">
                <h3 id="question-837" class="entry-title"><a name="837"></a>¿Cómo puedo cancelar mi suscripción?</h3>
                <div class="faq-content">
                  <p>Usted puede cancelar su suscripción escribiendo en info@tarefasimple.com. Usted seguirá teniendo acceso a todas las funciones Udacity hasta el final de su último mandato de facturación.</p>
                  <a class="faq-back-top" href="#top_faq">Regresar al Comienzo</a>
                </div>
              </article>

              <article class="faq clearfix">
                <h3 id="question-836" class="entry-title"><a name="836"></a>¿Cuánto tiempo se tarda en obtener un reembolso?</h3>
                <div class="faq-content">
                  <p>Tarda normalmente 5-7 días laborales para los reembolsos que aparezca en su estado de cuenta.</p>
                  <a class="faq-back-top" href="#top_faq">Regresar al Comienzo</a>
                </div>
              </article>

            </div>
          </div>
        </div><!-- /.main -->

        <!-- Sidebar -->
       
      </div><!-- /.content -->
    </div><!-- /.wrap -->
