	<div id="hero" class="hero-image2">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <h1>HACKEANDO LAS MATEMÁTICAS</h1>
            <p class="subtitle">Tarefa es una nueva herramienta educativa para que no quedes atascados en tus problemas de matemáticas, contamos con cientos de profesionales validados por Tarefa que solucionaran todas tus preguntas</p>      
          </div>
        </div>  

         

      </div>
    </div><!-- /#hero -->	
<br></br>
    <div class="container">

					<div class="row center">
						<div class="col-md-12">
							<h2 class="short word-rotator-title">
								¿Como Funciona?
							</h2>

						</div>
					</div>

				</div>

<div class="container">

					<div class="row featured-boxes">
						<div class="col-md-3">
							<div class="featured-box featured-box-primary">
								<div class="box-content">
									<i class="icon-featured icon icon-user"><%= image_tag "google_how.png" %></i>
									<h4>Ingresa</h4>
									<p>Ingresa a www.tarefa.co</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="featured-box featured-box-secundary">
								<div class="box-content">
									<i class="icon-featured icon icon-book"><%= image_tag "question_how.png" %></i>
									<h4>Pregunta</h4>
									<p>Realiza tu Pregunta</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="featured-box featured-box-tertiary">
								<div class="box-content">
									<i class="icon-featured icon icon-trophy"><%= image_tag "mail_how.png" %></i>
									<h4>Mail</h4>
									<p>Dejanos tu correo</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="featured-box featured-box-quartenary">
								<div class="box-content">
									<i class="icon-featured icon icon-cogs"><%= image_tag "tick_mark_how.png" %></i>
									<h4>Respuesta</h4>
									<p>Recibe tu respuesta</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="container">

					<h2><strong>Tarefa Pro</strong></h2>

					<div class="row">
						<div class="col-md-12">
							<p class="lead">
								Ahora, con tarefa encuentra ayuda de profesionales reales 7/24.
							</p>
						</div>
					</div>

					<hr class="tall" />

					

					<div class="row">

						<div class="pricing-table">
							<div class="col-md-3">
								<div class="plan">
									<h3><span>FREE</span></h3>
									<a class="btn btn-lg btn-primary" href="#">Registrese</a>
									<ul>
										<li><b>2</b> Preguntas Diarias</li>
										<li> Acceso Limitado</li>
										
									</ul>
								</div>
							</div>
							<div class="col-md-3 center">
								<div class="plan most-popular">
									<div class="plan-ribbon-wrapper"><div class="plan-ribbon">Popular</div></div>
									<h3>3 Meses<span>$80</span></h3>
									<a class="btn btn-lg btn-primary" href="#">Registrese</a>
									<ul>
										<li><b></b> Acceso 7/24</li>
										<li> Acceso Ilimitado</li>
										<li> *Precios en dolares</li>
									</ul>
								</div>
							</div>
							<div class="col-md-3">
								<div class="plan">
									<h3>Un Mes<span>$30</span></h3>
									<a class="btn btn-lg btn-primary" href="#">Registrese</a>
									<ul>
										<li><b></b> Acceso 7/24</li>
										<li> Acceso Ilimitado</li>
										<li> *Precios en dolares</li>
										
										

									</ul>
								</div>
							</div>
							<div class="col-md-3">
								<div class="plan">
									<h3>6 Meses<span>$160</span></h3>
									<a class="btn btn-lg btn-primary" href="#">Registrese</a>
									<ul>
										<li><b></b> Acceso 7/24</li>
										<li> Acceso Ilimitado</li>
										<li> *Precios en dolares</li>
									</ul>
								</div>
							</div>
						</div>

					</div>


				


