<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Tarefa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Encuentra respuestas confiables a tus ejercicios de matemáticas hechos por profesionales validados por Tarefa">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,500,700' rel='stylesheet' type='text/css'>
  </head>

  <body class="home-1">

    <!-- Navbar -->

    <header class="banner navbar navbar-static-top" role="banner">
      <div class="container">

        <div class="navbar-header">

          <div class="navbar-brand">
            <a title="KnowledgePress" href="index.html"><img src="assets/img/logo.png" alt="logo tarefasimple"/></a>
          </div>
          
          <button data-target=".nav-responsive" data-toggle="collapse" type="button" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>

        <nav class="nav-main hidden-xs" role="navigation">
          <ul id="menu-main" class="nav navbar-nav">
            <li class="active dropdown">
              <a class="dropdown-toggle" data-target="#" href="index.html">Home</a>
            <!--   <ul class="dropdown-menu">
                <li><a href="index2.html">Home 2</a></li>
              </ul> -->
            </li>
            <li><a href="knowledgebase.html">Sign In</a></li>
            <li><a href="articles.html">Sign Up</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-target="#" href="faq-accordion.html">Idioma</a>
              <ul class="dropdown-menu">

                <li><a href="index.html">Español</a></li>
                <li><a href="pt.html">Portugues</a></li>
                <li><a href="en.html">English</a></li>
               <!--  <li><a href="faq-accordion.html">FAQ Accordion</a></li>
                <li><a href="faq.html">FAQ Default</a></li> -->
              </ul>
            </li>
          <!--   <li class="dropdown"><a class="dropdown-toggle" data-target="#" href="contact.html">Contact</a>
              <ul class="dropdown-menu">
                <li><a href="contact.html">Contact</a></li>
                <li><a href="full.html">Full Width Page</a></li>
                <li><a href="components.html">B3 Components</a></li>
                <li><a href="columns.html">Columns</a></li>
                <li><a href="typography.html">Typography</a></li>
                <li><a href="videos.html">Responsive Videos</a></li>
              </ul>
            </li> -->
          </ul>    
        </nav>

        <!-- Responsive Nav -->
        <div class="visible-xs">
          <nav class="nav-responsive collapse" role="navigation">
            <ul class="nav">
              <li><a href="index.html">Home</a></li>
              <li><a class="responsive-submenu" href="index2.html">Home 2</a></li>
              <li><a href="knowledgebase.html">Knowledge Base</a></li>
              <li><a href="articles.html">Articles</a></li>
              <li><a href="faq-accordion.html">FAQ</a></li>
              <li><a class="responsive-submenu" href="faq-accordion.html">FAQ Accordion</a></li>
              <li><a class="responsive-submenu" href="faq.html">FAQ Default</a></li>
              <li><a href="#">Features</a></li>
              <li><a class="responsive-submenu" href="contact.html">Contact Page</a></li>
              <li><a class="responsive-submenu" href="full.html">Full Width Page</a></li>
              <li><a class="responsive-submenu" href="components.html">B3 Components</a></li>
              <li><a class="responsive-submenu" href="columns.html">Columns</a></li>
              <li><a class="responsive-submenu" href="typography.html">Typography</a></li>
              <li><a class="responsive-submenu" href="videos.html">Responsive Videos</a></li>
            </ul>       
          </nav>
        </div>

      </div>
    </header>

    <!-- Hero Section -->
    <div id="hero" class="hero-image">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <h1>Problemas con las Matemáticas</h1>
            <p class="subtitle">Recibe orientación de tus preguntas de matemáticas por parte de profesionales reales y totalmente gratis</p>      
          </div>
        </div>  

        <div class="row">
          <div class="hero-box col-sm-8 col-sm-offset-2">
            <form role="search" method="get" id="searchform" class="form-search" action="#">
              <div class="input-group">
                <input type="text" id="autocomplete-dynamic" name="s" id="s" class="form-control input-lg" autocomplete="off" placeholder="Encuentra ayuda! Escribe tu pregunta aquí.">
                <span class="input-group-btn">
                  <input type="submit" id="searchsubmit" value="Search" class="btn">
                </span>
              </div>
            </form>
          </div>   
        </div>  

      </div>
    </div><!-- /#hero -->

    <!-- Boxes Section -->
    <div class="container">
      <div id="boxes">
        <div class="home-title">
          <h2>Ahora estudiar es más fácil</h2>
          <p></p>        </div>
          <div class="row">
            <div class="col-sm-4">
              <article class="box box-left">
                <div class="circle">
                  <a href="knowledgebase.html"><span></span><i class="fa fa-file-text-o"></i></a>
                </div>
                <h3><a href="knowledgebase.html">Preguntas donde quieras</a></h3>
                <p>Haz tus preguntas desde tu computador, smartphone o tablet. </p>
               <!--  <a class="btn" href="knowledgebase.html">Continue</a> -->
              </article>
            </div>
            <div class="col-sm-4">
              <article class="box box-middle">
                <div class="circle">
                  <a href="faq-accordion.html"><span></span><i class="fa fa-question-circle"></i></a>
                </div>
                <h3><a href="faq-accordion.html">Profesionales</a></h3>
                <p>Profesores verificados por tarefa contestáran tus preguntas, respuestas 100% confiables.</p>
               <!--  <a class="btn" href="faq-accordion.html">Continue</a> -->
              </article>
            </div>
            <div class="col-sm-4">
              <article class="box box-right">
                <div class="circle">
                  <a href="contact.html"><span></span><i class="fa fa-envelope-o"></i></a>
                </div>
                <h3><a href="contact.html">Confiable</a></h3>
                <p>Encuentra todas las respuestas elaboradas por profesionales reales </p>
               <!--  <a class="btn" href="contact.html">Continue</a> -->
              </article>
            </div>
        </div>
      </div>
    </div>

    
    <!-- Video Section -->
    <!-- <div id="home-video">
      <div class="container">
        <div class="home-title">
          <h2>Getting Started Video Tutorials</h2>          
          <p>Claritas est etiam processus dynamicus</p>        
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="box-video">
                <a href="video.html"><i class="fa fa-play-circle"></i></a>
                <h3><a href="video.html">Video Post Format</a></h3>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box-video-list">
              <h3>Video Tutorials</h3>
              <ul>            
                <li><h4><i class="fa-film fa fa-fw"></i> <a href="video.html">Video Post Format</a></h4></li>
                <li><h4><i class="fa-film fa fa-fw"></i> <a href="video.html">Multiple Ship to Addresses</a></h4></li>
                <li><h4><i class="fa-film fa fa-fw"></i> <a href="video.html">Theme Installation</a></h4></li>
                <li><h4><i class="fa-film fa fa-fw"></i> <a href="video.html">Plugin Installation</a></h4></li>
                <li><h4><i class="fa-film fa fa-fw"></i> <a href="video.html">Warnings and errors</a></h4></li>
                <li><h4><i class="fa-film fa fa-fw"></i> <a href="video.html">Rewrite configuration</a></h4></li>
                <li><h4><i class="fa-film fa fa-fw"></i> <a href="video.html">Using Custom Fields</a></h4></li>
                <li><h4><i class="fa-film fa fa-fw"></i> <a href="video.html">Customizing Forms</a></h4></li>
              </ul>
              <a class="btn-videos" href="#" title="">View all videos <i class="icon-chevron-right"></i></a>          
            </div>  
          </div>
        </div>
      </div>
    </div> -->

    <!-- Footer Widgets -->
    <footer>
      <div class="footer-widgets">
        <div class="container">
          <div class="row">

            <section class="col-sm-3">
              <div>
                <h3>Tarefa</h3>
                <ul>
                  <li>
                    <!-- <i class="fa fa-fw fa-file-text-o"></i>  --><a  title="Permanent link to Standard Post Format">

                    Con nosotros encontraras la forma fácil de solucionar tus tareas en línea y en el menor tiempo posible.</a>
                  </li>
                  <!-- <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="#" rel="bookmark" title="Permanent link to Disabled Comments">Disabled Comments</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="#" rel="bookmark" title="Permanent link to Theme Set Up">Theme Set Up</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-film"></i> <a href="#" rel="bookmark" title="Permanent link to Video Post Format">Video Post Format</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="#" rel="bookmark" title="Permanent link to Follow up Emails">Follow up Emails</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-picture-o"></i> <a href="#" rel="bookmark" title="Permanent link to Fully Responsive Design">Fully Responsive Design</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="#" rel="bookmark" title="Permanent link to Unlimited Colors">Unlimited Colors</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="#" rel="bookmark" title="Permanent link to Well Documented">Well Documented</a>
                  </li> -->
                </ul>
              </div>
            </section>

            <section class="col-sm-3">
              <div>
                <h3>Links Importantes</h3>
                <ul>
                  <li>
                   <!--  <i class="fa fa-fw fa-file-text-o"></i> --> <a href="#" rel="bookmark" title="Permanent link to Unlimited Colors">Home</a>
                  </li>
                  <li>
                    <!-- <i class="fa fa-fw fa-file-text-o"></i> --> <a href="#" rel="bookmark" title="Permanent link to Multiple installs on one domain">Tarefa Pro</a>
                  </li>
                  <li>
                   <!--  <i class="fa fa-fw fa-file-text-o"></i> --> <a href="#" rel="bookmark" title="Permanent link to Import and Export Extension">Terminos y Condiciones</a>
                  </li>
                  <li>
                    <!-- <i class="fa fa-fw fa-film"></i>  --><a href="#" rel="bookmark" title="Permanent link to Plugin Installation">Preguntas Frecuentes</a>
                  </li>
                 <!--  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="#" rel="bookmark" title="Permanent link to Local Server Setup">Local Server Setup</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-film"></i> <a href="#" rel="bookmark" title="Permanent link to Theme Installation">Theme Installation</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-film"></i> <a href="#" rel="bookmark" title="Permanent link to Multiple Ship to Addresses">Multiple Ship to Addresses</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="#" rel="bookmark" title="Permanent link to Well Documented">Well Documented</a>
                  </li> -->
                </ul>
              </div>
            </section>

            <section class="col-sm-3">
              <div>
                <h3>Contáctanos</h3>
                <ul>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="#" rel="bookmark" title="Permanent link to Standard Post Format">info@tarefasimple.com</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="#" rel="bookmark" title="Permanent link to Disabled Comments">Skype: tarefasimple</a>
                  </li>
                  <!-- <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="#" rel="bookmark" title="Permanent link to Theme Set Up">Theme Set Up</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-film"></i> <a href="#" rel="bookmark" title="Permanent link to Video Post Format">Video Post Format</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="#" rel="bookmark" title="Permanent link to Follow up Emails">Follow up Emails</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-picture-o"></i> <a href="#" rel="bookmark" title="Permanent link to Fully Responsive Design">Fully Responsive Design</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="#" rel="bookmark" title="Permanent link to Unlimited Colors">Unlimited Colors</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="#" rel="bookmark" title="Permanent link to Well Documented">Well Documented</a>
                  </li> -->
                </ul>
              </div>
            </section>

            <!-- <section class="col-sm-3">
              <div>
                <h3>Popular Articles</h3>
                <ul>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="#" rel="bookmark" title="Permanent link to Unlimited Colors">Unlimited Colors</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="#" rel="bookmark" title="Permanent link to Multiple installs on one domain">Multiple installs on one domain</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="#" rel="bookmark" title="Permanent link to Import and Export Extension">Import and Export Extension</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-film"></i> <a href="#" rel="bookmark" title="Permanent link to Plugin Installation">Plugin Installation</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="#" rel="bookmark" title="Permanent link to Local Server Setup">Local Server Setup</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-film"></i> <a href="#" rel="bookmark" title="Permanent link to Theme Installation">Theme Installation</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-film"></i> <a href="#" rel="bookmark" title="Permanent link to Multiple Ship to Addresses">Multiple Ship to Addresses</a>
                  </li>
                  <li>
                    <i class="fa fa-fw fa-file-text-o"></i> <a href="#" rel="bookmark" title="Permanent link to Well Documented">Well Documented</a>
                  </li>
                </ul>
              </div>
            </section> -->

          </div>
        </div>
      </div>

      <!-- Footer Info -->
      <div class="footer-info">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <ul class="social-icons">
                <li class="btn-social btn-twitter">
                  <a href="http://twitter.com/tarefasimple"><img src="assets/img/social/white/icons_twitter.png" alt="Twitter" />
                  </a>
                </li>
                <li class="btn-social btn-facebook">
                  <a href="http://facebook.com/tarefasimple"><img src="assets/img/social/white/icons_facebook.png" alt="Facebook" />
                  </a>
                </li>
                <li class="btn-social btn-google">
                  <a href="http://gplus.to/tarefasimple"><img src="assets/img/social/white/icons_google.png" alt="Google+" />
                  </a>
                </li>
                <li class="btn-social btn-linkedin">
                  <a href="http://linkedin.com/in/tarefasimple"><img src="assets/img/social/white/icons_linkedin.png" alt="LinkedIn" />
                  </a>
                </li>
           <!--      <li class="btn-social btn-vimeo">
                  <a href="http://vimeo.com/"><img src="assets/img/social/white/icons_vimeo.png" alt="Vimeo" />
                  </a>
                </li> -->
                <li class="btn-social btn-youtube">
                  <a href="http://youtube.com/tarefasimple"><img src="assets/img/social/white/icons_youtube.png" alt="YouTube" />
                  </a>
                </li>
                <!-- <li class="btn-social btn-flickr">
                  <a href="http://flickr.com/photos/username"><img src="assets/img/social/white/icons_flickr.png" alt="Flickr" />
                  </a>
                </li> -->
             <!--    <li class="btn-social btn-dribbble">
                  <a href="http://dribbble.com/username"><img src="assets/img/social/white/icons_dribbble.png" alt="Dribbble" />
                  </a>
                </li>
                <li class="btn-social btn-rss">
                  <a href="http://website.com/rss"><img src="assets/img/social/white/icons_rss.png" alt="RSS" />
                  </a>
                </li> -->
              </ul>
              <p class="copyright">Copyright 2014. Powered by <a href='#'>Tarefa simple</a></p>       
            </div>
          </div>
        </div>
      </div>

    </footer>

    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="assets/js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="assets/js/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="assets/js/application.js"></script>

  </body>
</html>
